<DOCTYPE! html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Please Complete to Join!</title>
</head>

<body>
<form id="form" action="api/new, server.js" method="post">
<fieldset>
	<legend>Please complete</legend>
	<label>
	First Name:
	<input type="text" name="fname" Placeholder="First Name" size="30" maxlength="100">
	</label>

	<label>
	Last Name:
	<input type="text" name="lname" Placeholder="Last Name" size="30" maxlength="100">
	</label>

	<label>
	Email:
	<input type="email" name="email" size="30" maxlength="100">
	</label>
	<label>
</fieldset>
<br />

<fieldset>
	<legend>Information</legend>
	<p>
		<label id="movingFrom" for= "Moving From">I'm moving From</label>
		<input type="text" name="MovingFrom" Placeholder="City, State" size="30" maxlength="100">
	</p>
	<p>
		<label id="movingTo" for="Moving To">I want to moving to</label>
		<input type="text" name="MovingTo" Placeholder="City, State" size="30" maxlength="100" id="thecity">
	</p>
	<p>
		<label for="hear about">What is your current salary</label>
		<select name="salary" id="salary">
			<option value="0">0 (none)</option>
			<option value="30,000 - 50,000">30,000 - 50,000</option>
			<option value="50,000 - 70,000">50,000 - 70,000</option>
			<option value="70,000 - 90,000">70,000 - 90,000</option>
			<option value="90,000 - 100,000+">90,000 - 100,000+</option>
		</select>
	</p>
	<p>
		<label for="hear about">How Many in your household</label>
		<select name="household" id="household">
			<option value="1">1 (Just You)</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5 or more</option>
		</select>
		<br>
		<br>
		<input type="submit" value="submit">
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../public/client.js"></script>
	<script type="text/javascript"></script>

	</p>
</fieldset>
</form>
</body>
</html>