{{!-- Navigation Bar --}}
<nav>
	<div class='container'>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo">Life is Beautiful</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="/">Logout</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="/">Logout</a></li>
	      </ul>
	    </div>
	 </div>
  </nav>