<nav>
<div class='container'>
        <div class="nav-wrapper">
          <a href="/" >Life is Beautiful</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Logout</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Logout</a></li>
          </ul>
        </div>
     </div>
  </nav>
<br>
<br>
<br>
<body id="cityBG">
    <div class="container">
        <h1 id="cityTitle">Choose a State</h1>
        <div class="row">
        <!-- New York -->
          <div class="col s4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/cards/timesSquare.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">New York<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">New York<i class="material-icons right">close</i></span>
                    <p class="city-description">New York City is known for its fast-paced, around-the-clock lifestyle, which may be overwhelming for newcomers. Known as "the city that never sleeps," this relentless metropolis draws those seeking to advance their careers and push their limits. People come to New York to pursue their dreams, achieve a better life and test the adage "if you can make it here, you can make it anywhere."</p>
                    <a href="/Newyork"><p id="newyork">Select</p></a>
                </div>
             </div>
            </div>
            <!-- Florida -->
            <div class="col s4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/cards/florida.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Florida<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Florida<i class="material-icons right">close</i></span>
                        <p class="city-description">Warm temperatures year-round, award-winning beaches. Florida that's home to seven of the world's top theme parks, and welcomes around 60 million travelers each year, making it one of the most popular vacation destinations in America.</p>
                        <a href="/Florida"><p id="florida">Select</p></a>
                    </div>
                </div>
            </div>
            <!-- California -->
            <div class="col s4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/cards/california.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">California<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">California<i class="material-icons right">close</i></span>
                    <p class="city-description">California is a diverse area with an innovative spirit. San Jose City's proximity to other tech headquarters in Silicon Valley, including Google in Mountain View and Apple in Cupertino, cements California's position in the tech hub.</p>
                    <a href="/California"><p id="california">Select</p></a>
                </div>
            </div>
        </div>
        </div> <!-- end of first row -->
        <!-- second row -->
        <div class="row">
        <!-- Illinois -->
          <div class="col s4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/images/cards/chicago.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Illinois<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Illinois<i class="material-icons right">close</i></span>
                    <p class="city-description">New York City is known for its fast-paced, around-the-clock lifestyle, which may be overwhelming for newcomers. Known as "the city that never sleeps," this relentless metropolis draws those seeking to advance their careers and push their limits. People come to New York to pursue their dreams, achieve a better life and test the adage "if you can make it here, you can make it anywhere."</p>
                    <a href="/Illinois"><p id="illinois">Select</p></a>
                </div>
             </div>
            </div>
            <!-- Washington DC -->
            <div class="col s4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/images/cards/washingtonDC.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Washington DC<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Washington DC<i class="material-icons right">close</i></span>
                        <p class="city-description">Warm temperatures year-round, award-winning beaches. Flodia that's home to seven of the world's top theme parks, and welcomes around 60 million travelers each year, making it one of the most popular vacation destinations in America.</p>
                        <a href="/WashingtonDC"><p id="washingtonDC">Select</p></a>
                    </div>
                </div>
            </div>
          </div> <!-- end of second row -->
    </div>

    <script>
        $(document).ready(function() {
            var city;
           $('#newyork').click(function(){
                city = "New York";
                localStorage.setItem('city', city);
                citysearch(city);
            }); 

           $('#california').click(function(){
                city = "California";
                localStorage.setItem('city', city);
                citysearch(city);
            }); 

           $('#florida').click(function(){
                city = "Florida";
                localStorage.setItem('city', city);
                citysearch(city);
            }); 
<<<<<<< HEAD
           $('#chicago').click(function(){
                var city = "Chicago";
                localStorage.setItem('city', city);
            }); 
           $('#washingtonDC').click(function(){
                var city = "WashingtonDC";
                localStorage.setItem('city', city);
            }); 
=======

           function citysearch(city){
            var queryURL = "http://api.openweathermap.org/data/2.5/weather?q="+city+"&units=imperial&appid=6aec4391886be38edb554739debf8733";

            $.ajax({
                url: queryURL,
                method: "POST"
            })
            .done(function(response) {
                console.log(queryURL);
                
                console.log(response);
                $(".city").html("<h1>" + response.name + " Weather Details</h1>");
                $(".wind").html("Wind Speed: " + response.wind.speed);
              //  $(".humidity").html("Humidity: " + response.main.humidity);
                $(".temp").html("Temperature (F) " + response.main.temp);
            });

        }

>>>>>>> bc5ccd2f6685eb72b0cb30512d4f6daf2e3c322b
        });
    </script>
    
</body>