{{!-- Navigation Bar --}}
<nav>
	<div class='container'>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo">Life is Beautiful</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="/">Logout</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="/">Logout</a></li>
	      </ul>
	    </div>
	 </div>
  </nav>
<br>
<br>
<br>
<body id="formBG">
<div class = "container">
<div class="row" style="text-align:center">
<h2 id="formTitle">tell us about your plan!</h2>
</div>
	<div class = 'row'>
		<form action="www.google.com" method="get">
<fieldset>
	<legend>Please complete</legend>
	<label>
	Name:
	<input type="text" name="name" size="30" maxlength="100">
	</label>
	<br />
	<label>
	Email:
	<input type="email" name="email" size="30" maxlength="100">
	</label>
	<label>
	City you currently live:
	<input type="city" name="city" size="30" maxlength="100">
	</label>
	<label>
	Current Job:
	<input type="job" name="job" size="30" maxlength="100">
	</label>
	<br />
</fieldset>
<br />

<fieldset>
	<legend>Information</legend>
	<p>
		<label for="hear about">How you hear about us</label>
		<select name="referrer" id="hear about">
			<option value="google">Google</option>
			<option value="GW Coding BootCamp">GW Coding BootCamp</option>
			<option value="Friend">Friend</option>
			<option value="Other">Other</option>
		</select>
	</p>
	<p>
		<label for="hear about">What is your current salary</label>
		<select name="salary" id="current salary">
			<option value="0">0 (none)</option>
			<option value="30,000 - 50,000">30,000 - 50,000</option>
			<option value="50,000 - 70,000">50,000 - 70,000</option>
			<option value="70,000 - 90,000">70,000 - 90,000</option>
			<option value="90,000 - 100,000+">90,000 - 100,000+</option>
		</select>
	</p>
	<p>
		<label for="hear about">How Many in your household</label>
		<select name="household" id="household">
			<option value="1">1 (Just You)</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5 or more</option>
		</select>
	</p>
	<p>
		<label for="hear about">Do you know anyone in this new city?</label>
		<select name="household" id="household">
			<option value="Yes">Yes</option>
			<option value="No">No</option>
			
		</select>
	</p>
</fieldset>
</form>
		   	<div class = "row" style="text-align:center">
		   		<button class="btn waves-effect waves-light" id="formSubmit" type="submit" name="action">Submit
    				<i class="material-icons right">send</i>
  				</button>
  			</div>
		</form>
	</div>
</div>

<!-- For dropdown options -->
<script>
	$(document).ready(function() {
		$('select').material_select();

		var city = localStorage.getItem('city');
		
		$('#city-input').val(city);
		$('#city-name').html(city);
	});
</script>
<!-- For Pick A Date -->
<script>

$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 10 // Creates a dropdown of 10 years to control year
  });
</script>



