
nav {
    background-color:rgba(43, 187, 173, 0.7);
    opacity: 0.7;
}

.signupFormIcon {
    color:black;
}


body {
    background: url("../images/bgpics/3.jpg");
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#homePageTitle {
    font-size: 8em;
    text-align: center;
    margin-top: 15%;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 6px;
    z-index: 9990;
}

#homePageText {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin-top: 2%;
    margin-bottom: 6%;
    z-index: 9990;
}

#chooseCityText {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-top: -2%;
    z-index: 9990;
}

.logInBtn {
    margin: 0 auto;
    display: inline-block;
    background-color: #F5A24E;
    top: 50%;
}

.btn:hover,
.btn-large:hover {
    background-color: #F2871B;
}

#landingPage {
    text-align: center;
}

#modal1 h4, p {
    color: #676767;
}

#modal1 h4 {
    font-family: 'Anton', sans-serif;
}

.input-field.col label {
    left: 0;
}


#cityTitle {
    font-size: 5em;
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin-top: -2%;
}

#cityBG {
    background: url("../images/bgpics/norwaybw.jpg");
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.city-description {
    color: gray;
}


h5 {
    color: #676767;
}

input, label {
    color:black;
}

#formTitle {
    font-family: 'Anton', sans-serif;
    font-size:5em;
}

.icon-grey {
    color:#676767;
}



#startOver:hover{
    transition: background-color 0.2s ease-out;
    background-color: #F2871B;
}

#formBG {
    background: url("../images/");
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
